services:
  - type: static
    name: ldstephens
    buildCommand: npm run build
    outputDirectory: _site
    trailingSlash: true
    routes:
      - type: redirect
        source: /feed
        destination: /feed/feed.xml
        status: 301
      - type: redirect
        source: /feed.xml
        destination: /feed/feed.xml
        status: 301
      - type: redirect
        source: /2016/(.*)
        destination: /blog/%1
        status: 301
      - type: redirect
        source: /2017/(.*)
        destination: /blog/%1
        status: 301
      - type: redirect
        source: /2018/(.*)
        destination: /blog/%1
        status: 301
      - type: redirect
        source: /2019/(.*)
        destination: /blog/%1
        status: 301
      - type: redirect
        source: /2020/(.*)
        destination: /blog/%1
        status: 301
      - type: redirect
        source: /2021/(.*)
        destination: /blog/%1
        status: 301
      - type: redirect
        source: /2022/(.*)
        destination: /blog/%1
        status: 301
      - type: redirect
        source: /2023/(.*)
        destination: /blog/%1
        status: 301
      - type: redirect
        source: /2024/(.*)
        destination: /blog/%1
        status: 301
